* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: hsl(204, 43%, 93%);
  font-family: "Karla", sans-serif;
}

main {
  width: 600px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 50px hsl(218, 22%, 67%);
}

.card-top,
.card-bottom-left,
.card-bottom-right {
  padding: 30px;
}

.card-top {
  background: #fff;
}

.heading {
  color: hsl(179, 62%, 43%);
  font-size: 1.5rem;
  font-weight: 600;
}

.sub-heading-top,
.sub-heading-left,
.sub-heading-right,
.price {
  font-size: 1.1rem;
  font-weight: 600;
}

.sub-heading-top {
  font-size: 1.1rem;
  color: hsl(71, 73%, 54%);
  margin: 20px 0 10px 0;
  font-weight: 600;
}

.text-top {
  color: hsl(218, 22%, 67%);
  font-size: 0.9rem;
  line-height: 1.8;
}

.card-bottom {
  display: flex;
}

.card-bottom-left,
.card-bottom-right {
  flex: 1;
}

.card-bottom-left {
  background: hsl(179, 62%, 43%);
  color: hsl(204, 43%, 93%);
}

.price {
  font-size: 1.8rem;
  margin: 10px 0 5px 0;
  display: flex;
  align-items: center;
}

.price span {
  color: hsl(204, 43%, 93%);
  opacity: 0.5;
  font-size: 0.8rem;
  vertical-align: super;
  font-weight: 400;
  margin-left: 10px;
}

.sign-up-btn {
  margin-top: 25px;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 5px;
  color: hsl(204, 43%, 93%);
  background: hsl(71, 73%, 54%);
  font-weight: 600;
  cursor: pointer;
}

.card-bottom-right {
  background: hsl(179, 62%, 43%);
  opacity: 0.8;
  color: hsl(204, 43%, 93%);
}

.card-bottom-right ul {
  list-style-type: none;
  margin-top: 10px;
  opacity: 0.7;
  font-size: 0.8rem;
  line-height: 1.4;
}

@media screen and (max-width: 640px) {
  main {
    width: 90%;
  }
  :root {
    font-size: 14px;
  }

  .card-top,
  .card-bottom-left,
  .card-bottom-right {
    padding: 20px;
  }
}

@media screen and (max-width: 520px) {
  body {
  margin: 25px 0;
  }
  .card-bottom {
    flex-direction: column;
  }
}
